torch>=2.3
torchvision>=0.18
torchaudio>=2.3
torchtext>=0.18
torchdata>=0.7
tensorboard>=2.16
numpy>=1.26.4
scipy>=1.13
scikit-learn>=1.5
scikit-image>=0.23
pandas>=2.2
shapely>=2.0.4
ipython>=8.24
jupyter>=1.0.0
matplotlib>=3.9
plotly>=5.22
seaborn>=0.13.2
psutil>=5.9.8
cffi>=1.16.0
cython>=3.0.10
gensim>=4.3.2
onnx>=1.16
onnxruntime>=1.18
pycocotools>=2.0.7
dominate>=2.9
visdom>=0.2.4
wandb>=0.17
sagemaker>=2.221
boto3>=1.34
fs>=2.4
fiftyone>=0.23
pydantic>=2.7.1
graphviz>=0.20.3
ipywidgets>=8.1.2
nbdev>=2.3.23
sentencepiece>=0.2
fastai>=2.7.14
transforms3d>=0.4.1
pre-commit>=3.5.0
black>=23.10.0
flake8>=6.1.0
pylint>=3.0.1