tensorflow>=2.17.0
# tensorflow-metal==1.1.0
tensorflow-io-gcs-filesystem>=0.37
tensorflow-hub>=0.16
tensorflow-datasets>=4.9.6
tensorflow-io-gcs-filesystem>=0.37.0
tensorflow-probability>=0.24
# tensorflow-serving-api
keras-tuner>=1.4
pandas>=2.2
scikit-learn>=1.5
xgboost>=2.1
google-cloud-aiplatform>=1.63
google-cloud-storage>=2.18
transformers>=4.44
matplotlib>=3.9
plotly>=5.23
seaborn>=0.13
ipython>=8.26
jupyter>=1.0
jupyterlab>=4.2
jupyterthemes>=0.20
pillow>=10.4
graphviz>=0.20
nbdime>=4.0
numexpr>=2.10
nltk>=3.9
urlextract>=1.9
tqdm>=4.66
ipywidgets>=8.1
pydot~=1.4.2
# pydot>=3.0
statsmodels>=0.14
transforms3d>=0.4
pylint>=3.2
pre-commit>=3.8
black>=24.8
flake8>=7.1.0
prettier>=0.0.7